{% extends "base.html" %}
{% load static %}
{% block content %}
{% spaceless %}
<body>
    <div class="container">
        <!-- Кнопки навігації як у публікації -->
        <ol class="breadcrumb">
            <li><a href="/">Головна</a></li>
            {% if category %}
                <li><a href="{% url 'articles-list' %}">Публікації</a></li>
                <li class="active">{{ category }}</li>
            {% else %}
                <li class="active">Публікації</li>
            {% endif %}
        </ol>

        <h1>Персональний блог</h1>
        <h3>Публікації</h3>

        {% for item in items %}
        <div class="articles-row">
            <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
            <h5>{{ item.pub_date|date:"j F Y" }}</h5>
            <p>{{ item.description|safe|escape|striptags|truncatewords_html:32 }}</p>

            {% if item.images.all %}
            <div class="container-image">
                <img src="{{ item.images.all.0.image.url }}" alt="{{ item.title }}" />
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
<h1>Публікації</h1>
<br/>
{% if category %} {{ category }} {% endif %}

{% for item in items %}
<div class="articles-row">
    <a href="{{ item.get_absolute_url }}">
        <h4>{{ item.title }}</h4>
    </a>
    <h5>
        {{ item.pub_date|date:"j E Y"|safe|linebreaks }}
    </h5>
    <p>
        {{ item.description|safe|escape|striptags|truncatewords_html:32 }}
    </p>
    <div class="container-image">
        <img class="img" src="{{ item.images.all.0.image.url }}" alt=""/>
    </div>
    <div class='clearfix'></div>
</div>
{% endfor %}
{% endspaceless %}
{% endblock %}
